.posts {
    padding: 10rem 0rem;
    display: grid;
    width: 80vw;
    margin: auto;
    grid-template-columns: 80vw;
    grid-template-rows: max-content;
    grid-template-areas: "left"
                            "right";
    gap: 5rem;
}

.post-cont {
    grid-area: left;
    box-shadow: 0rem 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.post {
    padding: 4rem 8rem;
}

.post-img {
    height: 40rem;
    background-image: url("../assets/img-1.jpg");
}

.post-title {
    font-size: 3.5rem;
}
.author {
    font-size: 1.5rem;
    color: #13553f;
}

.blog-story {
    font-size: 2.5rem;
}

h2 {
    font-size: 3rem;
}

.auth-about {
    padding: 3rem;
    height: max-content;
    grid-area: right;
    background-color: #28b485;
    color: rgba(255, 255, 255, 0.8);
}

.heading {
    font-size: 3.5rem;
}

.author-info {
    font-size: 2.5rem;
    font-weight: 300;
}

.social-links {
    padding: 1rem;
    font-size: 2rem;
    display: inline;
}

.avatar {
    width: 8rem;
    height: 8rem;
    background-size: cover;
    margin-right: 1rem;
}

@media (min-width: 1400px)
{
    .posts {
        padding: 10rem 0rem;
        display: grid;
        width: 80vw;
        margin: auto;
        grid-template-columns: 55vw 25vw;
        grid-template-areas: "left right";
        gap: 5rem;
    }
    .social-links {
        display: block;
    }
}