/* Basic Styles */
@import url("post.css");
@import url("header.css");
@import url("footer.css");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    padding: 0;
    margin: 0;
}

html {
    /* This defines what 1rem is */
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    background-color: whitesmoke;
}

/* Utilities */
.mgn-btm-2 { margin-bottom: 2rem }
.mgn-btm-4 { margin-bottom: 4rem }
.mgn-btm-8 { margin-bottom: 8rem }

.mgn-top-2 { margin-top: 2rem }
.mgn-top-4 { margin-top: 4rem }
.mgn-top-10 { margin-top: 10rem }

.container {
    margin: 8rem auto;
    width: 80vw;
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: repeat(5, 40rem);
    grid-template-areas: "box-1" "box-2" "box-3" "box-4" "box-5";
    grid-gap: 2rem;
}

.post-box {
    background-size: cover;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    box-shadow: 0rem 0.5rem 3rem rgba(0, 0, 0, 0.4);
    transition: all 0.6s;
}

.post-box:hover {
    box-shadow: 0rem 1rem 5rem rgba(0, 0, 0, 0.4);
}

.post-box--1 {
    grid-area: box-1;
    background-image: url("../assets/img-1.jpg");
}

.post-box--2 {
    grid-area: box-2;
    background-image: url("../assets/img-1.jpg");
}

.post-box--3 {
    grid-area: box-3;
    background-image: url("../assets/img-1.jpg");
}

.post-box--4 {
    grid-area: box-4;
    background-image: url("../assets/img-1.jpg");
}

.post-box--5 {
    grid-area: box-5;
    background-image: url("../assets/img-1.jpg");
}

.post-info {
    box-sizing: border-box;
    padding: 2rem;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
}

.post-box:hover {
    transform: scale(1.05);
}

.btn {
    padding: 1rem 2rem;
    background-color: #28b485;
    border-radius: 3px;
    cursor: pointer;
}


/* Media Queries */
@media (min-width: 1000px) and (max-width: 1400px)
{
    .container {
        margin: 8rem auto;
        width: 80vw;
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: repeat(3, 40rem);
        grid-template-areas: "box-1 box-2" 
                                "box-3 box-4" 
                                "box-5 box-6";
        grid-gap: 2rem;
    }

    .footer {
        font-size: 1.5rem;
    }
}

@media (min-width: 1400px)
{
    .container {
        margin: 8rem auto;
        width: 70vw;
        display: grid;
        grid-template-columns: 35vw 15vw 15vw;
        grid-template-rows: 20rem 20rem 20rem;
        grid-template-areas: "box-1 box-2 box-4"
                    "box-1 box-2 box-5"
                    "box-1 box-3 box-5";
        grid-gap: 2rem;
    }

    .footer {
        font-size: 2rem;
    }

    .social-links {
        display: block;
    }
    
    .social-links {
        display: block;
    }
}
